nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
  .logo img {
    width: 100px;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 6px;
      a {
        color: white;
      }
    }
  }
}
