$black: #2e2c35;
$white: #ccdcec;

nav {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  align-items: center;
  padding: 0 20px 0 20px;
  .logo img {
    width: 80px;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 20px;
      a {
        color: $white;
      }
    }
  }
}
